In [4]:
import pandas as pd
data = pd.read_csv("tcs.csv",index_col=2)
data.head()

,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Date,,,,,,,,,,,,,,
09-May-2018,TCS,EQ,3441.20,3440.20,3494.75,3440.2,3488.5,3489.30,3480.95,1307525,4.551423e+09,74986,754487,57.70
10-May-2018,TCS,EQ,3489.30,3502.95,3511.15,3440.2,3446.3,3451.25,3478.59,1929339,6.711381e+09,78782,1044165,54.12
11-May-2018,TCS,EQ,3451.25,3454.20,3485.00,3442.5,3461.0,3456.95,3461.07,1313938,4.547637e+09,44332,734225,55.88
14-May-2018,TCS,EQ,3456.95,3457.00,3471.00,3410.8,3440.0,3433.55,3427.81,1216947,4.171460e+09,67155,738191,60.66
15-May-2018,TCS,EQ,3433.55,3450.00,3495.80,3433.7,3487.0,3482.40,3477.97,976445,3.396047e+09,72769,426098,43.64

In [6]:
data.index = pd.to_datetime(data.index)

In [10]:
import plotly.plotly as ply
import cufflinks as cf
data.iplot(title="TCS data 2018")

In [13]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data['Open Price'], model='multiplicative')
fig = result.plot()
plot_mpl(fig)

'https://plot.ly/~pmbh/4'

In [14]:
from pyramid.arima import auto_arima
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)
print(stepwise_model.aic())

ModuleNotFoundError: No module named 'pyramid'